crshtmlcss/web/WEB-INF/wsdl/localhost_8080/crs1/insert_data.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://com/" name="insert_data">
<types>
<xsd:schema>
<xsd:import namespace="http://com/" schemaLocation="http://localhost:8080/crs1/insert_data?xsd=1"/>
</xsd:schema>
</types>
<message name="delete">
<part name="parameters" element="tns:delete"/>
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse"/>
</message>
<message name="insert_basicInfo">
<part name="parameters" element="tns:insert_basicInfo"/>
</message>
<message name="insert_basicInfoResponse">
<part name="parameters" element="tns:insert_basicInfoResponse"/>
</message>
<message name="GeneratePDF">
<part name="parameters" element="tns:GeneratePDF"/>
</message>
<message name="GeneratePDFResponse">
<part name="parameters" element="tns:GeneratePDFResponse"/>
</message>
<portType name="insert_data">
<operation name="delete">
<input wsam:Action="http://com/insert_data/deleteRequest" message="tns:delete"/>
<output wsam:Action="http://com/insert_data/deleteResponse" message="tns:deleteResponse"/>
</operation>
<operation name="insert_basicInfo">
<input wsam:Action="http://com/insert_data/insert_basicInfoRequest" message="tns:insert_basicInfo"/>
<output wsam:Action="http://com/insert_data/insert_basicInfoResponse" message="tns:insert_basicInfoResponse"/>
</operation>
<operation name="GeneratePDF">
<input wsam:Action="http://com/insert_data/GeneratePDFRequest" message="tns:GeneratePDF"/>
<output wsam:Action="http://com/insert_data/GeneratePDFResponse" message="tns:GeneratePDFResponse"/>
</operation>
</portType>
<binding name="insert_dataPortBinding" type="tns:insert_data">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="delete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insert_basicInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GeneratePDF">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="insert_data">
<port name="insert_dataPort" binding="tns:insert_dataPortBinding">
<soap:address location="http://localhost:8080/crs1/insert_data"/>
</port>
</service>
</definitions>