crshtmlcss/src/conf/xml-resources/web-service-references/update_db/wsdl/localhost_8080/webservice/update_db.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://com/" name="update_db">
<types>
<xsd:schema>
<xsd:import namespace="http://com/" schemaLocation="http://localhost:8080/webservice/update_db?xsd=1"/>
</xsd:schema>
</types>
<message name="delete">
<part name="parameters" element="tns:delete"/>
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="ins_address">
<part name="parameters" element="tns:ins_address"/>
</message>
<message name="ins_addressResponse">
<part name="parameters" element="tns:ins_addressResponse"/>
</message>
<message name="ins_basicinfo">
<part name="parameters" element="tns:ins_basicinfo"/>
</message>
<message name="ins_basicinfoResponse">
<part name="parameters" element="tns:ins_basicinfoResponse"/>
</message>
<portType name="update_db">
<operation name="delete">
<input wsam:Action="http://com/update_db/deleteRequest" message="tns:delete"/>
<output wsam:Action="http://com/update_db/deleteResponse" message="tns:deleteResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://com/update_db/helloRequest" message="tns:hello"/>
<output wsam:Action="http://com/update_db/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="ins_address">
<input wsam:Action="http://com/update_db/ins_addressRequest" message="tns:ins_address"/>
<output wsam:Action="http://com/update_db/ins_addressResponse" message="tns:ins_addressResponse"/>
</operation>
<operation name="ins_basicinfo">
<input wsam:Action="http://com/update_db/ins_basicinfoRequest" message="tns:ins_basicinfo"/>
<output wsam:Action="http://com/update_db/ins_basicinfoResponse" message="tns:ins_basicinfoResponse"/>
</operation>
</portType>
<binding name="update_dbPortBinding" type="tns:update_db">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="delete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ins_address">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ins_basicinfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="update_db">
<port name="update_dbPort" binding="tns:update_dbPortBinding">
<soap:address location="http://localhost:8080/webservice/update_db"/>
</port>
</service>
</definitions>